name: MacOS

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

  schedule:
    - cron: '0 10 * * *'

concurrency:
  # Cancels pending runs when a PR gets updated.
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Zig
        uses: mlugg/setup-zig@v2.2.1
        with:
          version: master
      - name: Build and run tests
        run: zig build test
      - name: Build examples
        run: zig build examples
